<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd";>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>kind</key>
                <string>software-package</string>
                <key>url</key>
                <string>https://gitee.com/alendas/test/raw/master/Airport_Package.ipa</string>
            </dict>
            
            <dict>
                <key>kind</key>
                <string>display-image</string>
                <key>url</key>
                <string>https://gitee.com/alendas/test/raw/master/image58.png</string>
            </dict>
            
            <dict>
                <key>kind</key>
                <string>full-size-image</string>
                <key>https://gitee.com/alendas/test/raw/master/image1024.png</key>
                <string></string>
            </dict>
            
            
        </array>
    
        <key>metadata</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.chenrunsoft.app.AirportH5</string>
            <key>bundle-version</key>
            <string>1</string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string>媒体管理</string>
            <key>subtitle</key>
            <string>媒体管理</string>
        </dict>
    
    
    </dict>
</plist>
